<nav class="navigation left">
  <ul class="links">
    <li class="links item">
      <a href="/#open" class="link-item" title="link to {{@blog.title}} blog" id="blog-button">Blog</a>
      <a href="mailto:bhilburn+blog@gmail.com?subject=From Your Blog" class="link-item" title="" id="contact-button">Contact</a>
    </li>
  </ul>
</nav>
